<style>
	.article {
		background-color: rgba(255, 255, 255, 0.7);
		border-right: 1rem solid rgba(0, 0, 0, 0.15);
		width: 32%;
		margin: 10rem 2% 0 0;
		display: inline-block;
		padding: 1.5rem;
		vertical-align: top;
	}

	.article:nth-of-type(3n) {margin-right: 0;}

	.article__date {
		color: rgba(0, 0, 0, 0.7);
		font-size: 0.8em;
		margin: 0;
	}

	.article__title {
		color: rgba(0, 0, 0, 0.8);
		margin: 0;
		font-size: 1.4em;
	}

	.article__description {
		margin: 2rem 0 0 0;
		font-size: 1em;
		color: rgba(0, 0, 0, 0.9);
	}

	.article__link {
		color: inherit;
	}

	.article__link:link {
		--color: rgba(0, 0, 0, 0.1);
	}

	.article__link:hover, .article__link:link:hover {
		--color: var(--color2);
	}

	.article__link:active, .article__link:link:active {
		color: var(--color1);
	}

	.article:nth-of-type(1), .article:nth-of-type(2), .article:nth-of-type(3) {margin-top: 0;}

	@media screen and (max-width: 800px) {
		.article, .article:nth-of-type(2), .article:nth-of-type(3) {
			width: 100%;
			margin: 1.5rem 0 0 0;
		}

		.article__date {
			font-size: 0.9em;
		}

		.article__title {
			font-size: 1.6em;
		}
	}
</style>
