{{ $ := .page }}
{{ $e := .element }}

{{ with $e }}
	{{ $lang := index . $.Lang }}
	{{ $piece := partial "search-music-piece" (dict "page" $ "title" .piece) }}

	<section class="event{{ if not (i18n .date) }}{{ if gt (now.Format "2006-01-02") $e.date }} event--passed{{ end }}{{ else }} event--delayed{{ end }}">
		<h2 class="event__piece"><a class="event__rel"{{ if $piece.title }} href="{{ relref $ "/music" }}#{{ $piece.anchor }}">{{ $piece.title }}{{ else }}>{{ .piece }}{{ end }}</a></h2>
		<h1 class="event__date{{ with i18n .date }}">{{ . }}{{ else }} events__date--date"><time class="events__time" datetime="{{ .date }}">{{ partial "date" (dict "lang" $.Lang "date" .date) }}</time>{{ end }}</h1>
		<p class="event__location">{{ $lang.location }}</p>
		{{ if isset $lang.instruments 0 }}
			<ul class="event__instrument-list">
				{{ range $lang.instruments }}
					<li class="event__instrument-item">
						<span class="event__person">{{ .person }}</span> - <span class="event__instrument">{{ .instrument }}</span>
					</li>
				{{ end }}
			</ul>
		{{ else }}
			<p class="event__instrument-single">{{ $lang.instruments }}</p>
		{{ end }}
	</section>
{{ end }}
