{{ $pictures := "Ella Chroust" }}
{{ $webdesign := "Adrian Chroust" }}

{{ $pictures_website := "" }}
{{ $webdesign_website := "" }}

{{ range .Site.Data.contact.related }}
	{{ if eq $pictures .name }}{{ $pictures_website = .website }}{{ end }}
	{{ if eq $webdesign .name }}{{ $webdesign_website = .website }}{{ end }}
{{ end }}

<footer class="footer">
		<p class="footer__info">
			{{ i18n "pictures-by" }} {{ with $pictures_website }}<a{{ else }}<span{{ end }} class="footer__link"{{ with $pictures_website }} href="{{ . }}"{{ end }}>{{ $pictures }}{{ with $pictures_website }}</a>{{ else }}</span>{{ end }}
			<br>
			{{ i18n "webdesign-by" }} {{ with $webdesign_website }}<a{{ else }}<span{{ end }} class="footer__link"{{ with $webdesign_website }} href="{{ . }}"{{ end }}>{{ $webdesign }}{{ with $webdesign_website }}</a>{{ else }}</span>{{ end }}
		</p>
		<p class="footer__further-info">
			{{ i18n "code-on" }} <a class="footer__link" href="https://github.com/adrianchroust/niklaschroust">Github</a>
			<br>
			{{ i18n "deployed-to" }} <a class="footer__link" href="https://www.netlify.com/">Netlify</a>
		</p>
</footer>
