<header class="header">
	<h1 class="header__about{{ if eq .Kind "home" }} header__about--invisible{{ end }}">
		<a class="header__about-inner" href="{{ relref . "/" }}">
			<span class="header__about--colorful">{{ substr .Site.Params.firstname 0 1 }}</span><span class="header__about--small">.</span><span class="header__about--not-small">{{ substr .Site.Params.firstname 1 }}</span>
			{{- with .Site.Params.middlename }} {{ substr . 0 1 }}. {{ end -}}
			{{ substr .Site.Params.surname 0 1 }}<span class="header__about--extrasmall">.</span><span class="header__about--not-extrasmall">{{ substr .Site.Params.surname 1 }}</span>
		</a>
	</h1>
	<nav class="header__nav">
		<a href="#_menu" class="js-menu-open header__nav-a header__menu-button{{ if not .IsTranslated }} header__nav-a--last{{ end }}" tabindex="0" aria-hidden="true"><button class="header__nav-button" tabindex="-1">{{ i18n "menu" }}</button></a>{{ print -}}
		<div class="js-menu header__menu" id="_menu">
			<ul class="header__menu-inner">
				{{ range slice "home" "events" "music" "life" "gallery" "contact" -}}
					<li class="header__menu-item">
						<a class="header__nav-a{{ if eq . "home" }} header__menu-home{{ end }}{{ if and (eq . "contact") (not $.IsTranslated) }} header__nav-a--last{{ end }}" href="{{ relref $ (print "/" (cond (eq . "home") "" .)) }}">{{ i18n . }}</a>{{ if ne . "contact" }}<span class="header__nav-delimit">|</span>{{ end }}
					</li>
				{{- end }}
			</ul>{{ print -}}
			<a href="#" class="js-menu-close header__nav-a header__menu-close" tabindex="0" aria-hidden="true"><button class="header__nav-button header__menu-close-inner" tabindex="-1">{{ i18n "close" }}</button></a>{{ print -}}
		</div>
		{{- if .IsTranslated -}}
			{{- range .Translations -}}
				<span class="header__lang-delimit">|</span><a class="header__nav-a header__lang" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}" title="{{ .Language.LanguageName }}">{{ .Lang | upper }}</a>
			{{- end }}
		{{ end }}
	</nav>
</header>
