<header class="header">
	<a class="header__skiptocontent" href="#_main">{{ i18n "skiptocontent" }}</a>
	<h1 class="header__about{{ if eq .Kind "home" }} header__about--invisible{{ end }}">
		<a class="header__about-inner" href="{{ relref . "/" }}">
			<span class="header__about--colorful">{{ substr .Site.Params.firstname 0 1 }}</span><span class="header__about--small" aria-hidden="true">.</span><span class="header__about--not-small">{{ substr .Site.Params.firstname 1 }}</span>
			{{- with .Site.Params.middlename }} {{ substr . 0 1 }}. {{ end -}}
			{{ substr .Site.Params.surname 0 1 }}<span class="header__about--extrasmall" aria-hidden="true">.</span><span class="header__about--not-extrasmall">{{ substr .Site.Params.surname 1 }}</span>
		</a>
	</h1>
	<nav class="header__nav">
		<a href="#_menu" class="js-menu-open header__menu-button{{ if not .IsTranslated }} header__menu-button--last{{ end }}" tabindex="-1" aria-hidden="true">{{ i18n "menu" }}</a>{{ print -}}
		<div class="js-menu header__menu" id="_menu">
			<ul class="header__menu-inner">
				{{ range slice "home" "events" "press" "music" "biography" "gallery" "contact" -}}
					<li class="header__menu-item{{ if eq . "home" }} header__menu-item--home{{ end }}">
						{{ $page := $.GetPage (print "/" (cond (eq "home" .) "" .)) }}
						<a class="header__nav-a{{ if and (eq . "contact") (not $.IsTranslated) }} header__nav-a--last{{ end }}" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>{{ if ne . "contact" }}<span class="header__nav-delimit" aria-hidden="true">|</span>{{ end }}
					</li>
				{{- end }}
			</ul>{{ print -}}
			<a href="#" class="js-menu-close header__menu-close" tabindex="-1" aria-hidden="true">{{ i18n "close" }}</a>{{ print -}}
		</div>
		{{- if .IsTranslated -}}
			<ul class="header__translations">
				{{- range .Translations -}}
					<li class="header__menu-item"><span class="header__lang-delimit" aria-hidden="true">|</span><a class="header__lang" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}" title="{{ .Language.LanguageName }}">{{ .Lang | upper }}</a></li>
				{{- end }}
			</ul>
		{{ end }}
	</nav>
</header>
