<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ .Permalink }}">

<title>
	{{- if eq .Kind "404" -}}
		404 {{ i18n "notfound" }}
	{{- else -}}
		{{ .Title }}{{ if not (eq .Kind "home") }} - {{ .Site.Title }}{{ end }}
	{{- end -}}
</title>
<meta name="description" content="
	{{- with .Description -}}
		{{- . -}}
	{{- else -}}
		{{- with .Summary -}}
			{{ . }}
		{{- else -}}
			{{ .Site.Params.Description }}
		{{- end -}}
	{{- end -}}
">
<meta name="keywords" content="
	{{- delimit .Site.Params.keywords ", " -}}
	{{- with .Keywords -}}
			{{ range . }}, {{ . }}{{ end }}
	{{- end -}}
">
<meta name="author" content="{{ .Site.Params.Author }}">

<meta name="theme-color" content="#e83055">
<style>

	html, body {background-color: hsl(0, 2%, 10%);}

	.page {display: none;}
</style>

{{ $style := resources.Get "css/main.scss" | toCSS }}
{{ if not .Site.IsServer }}{{ $style = $style | minify }}{{ end }}
{{ $style = $style | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="print" onload="this.onload=null;this.media='all'">

{{ $font := "https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" }}
<link rel="stylesheet" href="{{ $font }}" media="print" onload="this.onload=null;this.media='all'">

<noscript>
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	<link rel="stylesheet" href="{{ $font }}">
</noscript>

{{ $background := cond (isset .Params "background") .Params.background "default.jpg" }}
<link rel="preload" as="image" href="/background-images/{{ $background }}">
<style>
	.heading::before {
		--url: url(/background-images/{{ $background | safeCSS }});
	}
</style>

{{ if not .Site.IsServer }}
	{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
