{{ $ := .page }}
{{ with .element }}
	{{ $lang := index . $.Lang }}
	{{ $piece := partial "search-music-piece" (dict "page" $ "title" .title) }}

	<section class="music js-music" id="{{ $piece.anchor }}">
		{{ if ne $piece.title .title }}<h2 class="music__original-title">{{ .title }}</h2>{{ end }}
		<h1 class="music__title">{{ $piece.title }}</h1>
		<h3 class="music__additional">{{ .year }}, {{ i18n "opus" }} {{ .opus }}</h3>
		<p class="music__instruments">{{ $lang.instruments }}</p>
		<div class="music__description js-description">{{ $lang.description | markdownify }}</div>
		<ul class="music__view">
			{{ with .audio }}<li class="music__view-item"><a class="music__view-link js-audio" target="_blank" href="{{ . }}" rel="noreferrer">{{ i18n "listen" }}</a></li>{{ end }}
			{{ with .pdf }}<li class="music__view-item"><a class="music__view-link" target="_blank" href="{{ . }}" rel="noreferrer">{{ i18n "view" }}</a></li>{{ end }}
			<li class="music__view-item music__view-item--hidden js-readmore"><button class="music__readmore js-readmore">{{ i18n "readmore" }}</button></li>
		</ul>
		{{ with .children }}
			{{ range . }}
				{{ partial "music" (dict "page" $ "element" .) }}
			{{ end }}
		{{ end }}
	</section>
{{ end }}
