{{ $ := .page }}
{{ $title := .title }}
{{ $piece := dict "title" "" "anchor" "" }}
{{ $parent := cond (isset . "parent") (print .parent " ") "" }}
{{ $list := cond (isset . "child") .child $.Site.Data.music }}

{{ range $l := $list }}
	{{ if eq .title $title }}
		{{ $langpiece := index . $.Lang }}
		{{ $piecename := cond (ne $langpiece.title "") $langpiece.title .title }}
		{{ $piece = dict "title" $piecename "anchor" ((print $parent $piecename) | anchorize) }}
	{{ end }}
	{{ with .children }}
		{{ $piece = partial "search-music-piece" (dict "page" $ "title" $title "parent" (print $parent $l.title) "child" .) }}
	{{ end }}
{{ end }}

{{ return $piece }}
