{{ $ := .page }}
{{ $title := trim .title " " }}
{{ $piece := dict "title" "" "anchor" "" }}
{{ $parent := cond (isset . "parent") (print .parent " ") "" }}
{{ $list := cond (isset . "child") .child $.Site.Data.music }}

{{ range $l := $list }}
	{{ $currentTitle := trim .title " " }}
	{{ if eq $title $currentTitle }}
		{{ $langpiece := index . $.Lang }}
		{{ $piecename := cond (ne $langpiece.title "") $langpiece.title $currentTitle }}
		{{ $piece = dict "title" $piecename "anchor" ((print $parent $piecename) | anchorize) }}
	{{ else }}
		{{ with .children }}
			{{ $childPiece := partial "search-music-piece" (dict "page" $ "title" $title "parent" (print $parent $l.title) "child" .) }}
			{{ if eq $title $childPiece.title }}
				{{ $piece = $childPiece }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $piece }}
