{{ $ := .page }}
{{ $title := trim .title " " }}
{{ $piece := dict "title" "" "langtitle" "" "anchor" "" }}
{{ $parent := cond (isset . "parent") (print .parent " ") "" }}
{{ $list := cond (isset . "child") .child $.Site.Data.music }}

{{ range $l := $list }}
	{{ $currentTitle := trim .title " " }}
	{{ $langpiece := index . $.Lang }}
	{{ $piecename := cond (eq $langpiece.title "") $currentTitle $langpiece.title }}

	{{ if eq $title $currentTitle }}
		{{ $piece = dict "title" $currentTitle "langtitle" $piecename "anchor" ((print $parent $piecename) | anchorize) }}
	{{ else }}
		{{ with .children }}
			{{ $childPiece := partial "search-music-piece" (dict "page" $ "title" $title "parent" (print $parent $piecename) "child" .) }}
			{{ if eq $title $childPiece.title }}
				{{ $piece = $childPiece }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $piece }}
