{{ define "main" }}
	<div class="gallery">
		{{ range .Site.Data.gallery -}}
			<div class="gallery__image js-gallery-view">{{ print -}}
				<img class="gallery__image-view" src="{{ .url }}" alt="{{ index . $.Lang }}">{{ print -}}
				<span class="gallery__image-text" aria-hidden="true">{{ index . $.Lang }}</span>{{ print -}}
			</div>
		{{- end }}
	</div>
{{ end }}
{{ define "html-head-inject" }}
	<style>
		.content {
			max-width: unset;
			position: static;
		}

		.footer {margin-top: 0;}

		.gallery {
			text-align: center;
		}

		.gallery__image, .gallery__image:link {
			display: inline-block;
			color: inherit;
			height: 20rem;
			line-height: 0;
			box-shadow: none;
			margin: 1.5rem;
			position: relative;
		}

		.gallery__image-view {
			display: inline-block;
			height: 20rem;
			width: auto;
			cursor: pointer;
			margin: 0;
		}

		.gallery__image-text {
			display: inline-block;
			position: absolute;
			line-height: 1;
			left: 0;
			top: 0;
			width: 100%;
			padding: 1.5rem;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0;
			transition: 0.3s opacity;
		}

		.gallery__image:hover .gallery__image-text {opacity: 1;}

		@media screen and (max-width: 600px) {
			.content {
				padding: 1.5rem 3rem 1.5rem 3rem;
			}
			.gallery {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.gallery__image, .gallery__image:link, .gallery__image-view {
				height: auto;
				width: 100%;
			}
		}
	</style>
{{ end }}
