<!DOCTYPE html>
<html lang="{{ .Lang }}">
	<head>
		{{ partialCached "html-head" . }}
		{{ partial "html-data" . }}
		{{ block "html-head-inject" . }}{{ end }}
	</head>
	<body>
		<div class="page">
			{{ partial "header" . }}
			<main class="main" id="_main">
				{{ partial "heading" . }}
				<div class="content{{ if eq .Kind "404" }} --hidden{{ end }}">
					{{ block "main" . }}
						{{ .Content }}
					{{ end }}
				</div>
			</main>
			{{ if not (eq .Kind "404" ) }}
				{{ partialCached "footer" . }}
			{{ end }}
		</div>
		{{ partialCached "html-body" . }}
		{{ block "html-body-inject" . }}{{ end }}
	</body>
</html>
