{{ $style := resources.Get "css/main.css" }}
{{ if not .Site.IsServer }}{{ $style = $style | minify }}{{ end }}
{{ .Scratch.Set "style" $style.RelPermalink }}

<!DOCTYPE html>
<html lang="{{ .Lang }}">
	<head>
		{{ partial "html-head" . }}
		{{ block "html-head-inject" . }}{{ end }}
	</head>
	<body>
		<div class="page">
			{{ $home := eq .Kind "home" }}
			{{ partialCached "header" . .Lang $home }}
			<main>
				{{ partial "heading" . }}
				<div class="content{{ if eq .Kind "404" }} hidden{{ end }}">
					{{ block "main" . }}
						{{ .Content }}
					{{ end }}
				</div>
			</main>
			{{ if not (eq .Kind "404" ) }}
				{{ partialCached "footer" . .Lang }}
			{{ end }}
		</div>
		{{ partial "html-body" . }}
		{{ block "html-body-inject" . }}{{ end }}
	</body>
</html>
