.page {display: block;}

.about {
	font-weight: normal;
	font-size: 3rem;
	margin: 0 0 0.5rem 0;
}

.about a {
	text-decoration: none;
	color: var(--font-color1);
}

.about-invisible {visibility: hidden;}

.about-small, .about-extrasmall {display: none;}

.about-colorful {color: var(--color1);}

.heading {
	min-height: calc(75vh + 10rem);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10rem 0 12rem 0;
	position: relative;
}

.heading-inner {position: absolute;}

.heading::before {
	--url: url(/background-images/default.jpg);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: no-repeat var(--url);
	background-position: center;
	background-size: cover;
	filter: grayscale(100%) brightness(25%) blur(0rem);
}

.heading::after {
	position: absolute;
	content: "";
	top: 100%;
	height: 10rem;
	width: 100%;
	background-color: var(--background-color1);
}

header {
	font-family: var(--font-family2);
	display: flex;
	align-items: center;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	padding: 0 3rem;
	justify-content: space-between;
	user-select: none;
	border-top: 0.3rem solid var(--color1);
	height: 10rem;
	position: absolute;
	z-index: 1;
	width: 100%;
}

.title {
	font-family: var(--font-family2);
	color: var(--font-color1);
	letter-spacing: 0.7rem;
	text-align: center;
	font-size: calc(4vw + 3rem);
	margin: 0;
	font-weight: normal;
	line-height: normal;
}

nav {
	color: var(--font-color2);
	text-align: center;
}

nav a {
	display: inline-block;
	color: var(--font-color1);
	text-decoration: none;
	margin: 1.5rem 1rem;
	letter-spacing: 0.3rem;
	font-size: 2.3rem;
	cursor: pointer;
}

nav button {
	display: inline;
	background-color: transparent;
	padding: 0;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
}

.menu-inner a {
	box-shadow: inset 0 -0.5rem var(--color1);
}

.menu-button {margin: 0 2rem;}

.lang {
	font-weight: bold;
	margin: 0 2rem;
	color: var(--color1);
}

.lang:last-child {margin-right: 0;}

.menu {
	display: inline-block;
	position: fixed;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	background-color: white;
	background-color: var(--background-color1);
}

.menu-invisible {
	animation: 0.4s ease-in 0s menu-invisible;
	box-shadow: 0 0 15rem 100vh rgba(0, 0, 0, 0.5);
}

@keyframes menu-invisible {
	0%, 100% {
		width: auto;
		height: auto;
	}
	0% {transform: translateY(0);}
	0%, 50% {opacity: 1;}
	100% {
		opacity: 0;
		transform: translateY(-30rem);
	}
}

.menu.menu-open, .menu:target {
	width: auto;
	height: auto;
	visibility: visible;
	opacity: 1;
	box-shadow: 0 0 15rem 100vh rgba(0, 0, 0, 0.5);
	animation: 0.4s ease-out 0s menu-open;
}

@keyframes menu-open {
	0% {
		opacity: 0;
		transform: translateY(-30rem);
	}
	50%, 100% {opacity: 1;}
	100% {transform: translateY(0);}
}

.menu-inner {padding: 3rem;}

.menu-close, .menu-close-inner {
	display: block;
	margin: 0;
	background-color: var(--color1);
	font-size: 2.5rem;
	text-align: center;
}

.menu-close-inner {
	padding: 1.5rem 3rem;
	width: 100%;
}

.lang-delimit {display: inline;}
.nav-delimit {display: none;}

@media screen and (min-width: 1280px) {
	nav a {margin: 0 2rem;}
	header {padding: 0 4rem;}
	.menu, .menu.menu-open, .menu:target, .menu-inner {
		display: inline;
		padding: 0;
		box-shadow: none;
		position: relative;
		background-color: transparent;
		opacity: 1;
		animation: none;
	}
	.menu-button, .menu-close, .menu-home {display: none;}
	.menu-inner a {box-shadow: none;}
	.nav-delimit {display: inline;}
	.about {
		font-size: 3.5rem;
	}
}

@media screen and (min-width: 600px) {
	::-webkit-scrollbar {
		width: 1.5rem;
		height: 1.5rem;
	}
	
	::-webkit-scrollbar-track {
		background-color: var(--background-color2);
	}
	
	::-webkit-scrollbar-thumb {
		background-color: var(--font-color1);
	}
}

.content {
	font-size: 1.8rem;
	padding: 4rem;
	border-radius: 2rem;
	margin: 0 auto;
	background-color: white;
	background-color: var(--background-color2);
	transform: translateY(-10rem);
	line-height: 1.4;
	max-width: 80rem;
}

.content :first-child {margin-top: 0;}

footer {
	padding: 3rem 2rem;
	border-top: 0.3rem solid var(--font-color1);
	background-color: var(--color1);
}

@media screen and (max-width: 800px) {
	.content {
		border-radius: 0;
		background-color: var(--background-color1);
		font-size: 2rem;
	}
}


@media screen and (max-width: 600px) {
	header {letter-spacing: normal;}
	.about-small {display: inline;}
	.about-small-not {display: none;}
	.content {padding: 3rem 2.5rem;}
}

@media screen and (max-width: 450px) {
	.about {
		font-size: 2.5rem;
		margin: 3rem 0;
	}
	.about-extrasmall {display: inline;}
	.about-extrasmall-not {display: none;}
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family2);
	color: var(--color1);
	line-height: 1;
}

h1 {margin-bottom: 1rem;}

p {
	margin: 1rem 0;
}
