.page {display: block;}

.about {
	font-weight: normal;
	font-size: 3rem;
	margin: 2.75rem 0 3.25rem 0;
}

.about a {
	text-decoration: none;
	color: var(--font-color1);
}

.about-invisible {visibility: hidden;}

.about-small, .about-extrasmall {display: none;}

.about-colorful {color: var(--color1);}

.heading {
	min-height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
	background-color: var(--background-color1);
}


header {
	font-family: var(--font-family2);
	display: flex;
	align-items: center;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	padding: 0 3rem;
	justify-content: space-between;
	user-select: none;
	border-top: 0.3rem solid var(--color1);
}

.title {
	font-family: var(--font-family2);
	letter-spacing: 0.7rem;
	text-align: center;
	font-size: calc(6vw + 2rem);
	margin: 0;
	font-weight: normal;
}

nav {
	color: var(--font-color2);
	text-align: center;
}

nav a {
	display: inline-block;
	color: var(--font-color1);
	text-decoration: none;
	margin: 1.5rem 1rem;
	letter-spacing: 0.3rem;
	font-size: 2.5rem;
}

.menu-inner a {
	box-shadow: inset 0 -0.5rem var(--color1);
}

.menu-button {margin: 0 2rem;}

.lang {
	font-weight: bold;
	margin: 0 2rem;
	color: var(--color1);
}

.lang:last-child {margin-right: 0;}

.menu {
	display: inline-block;
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	background-color: white;
	background-color: var(--background-color2);
	transition: opacity 0.3s ease;
}

.menu-invisible {
	animation: 0.3s ease-in 0s menu-invisible;
}

@keyframes menu-invisible {
	0%, 100% {
		width: auto;
		height: auto;
		box-shadow: 0 0 20rem 100vh rgba(0, 0, 0, 0.5);
	}
	from {transform: translateY(0);}
	to {transform: translateY(-40vw);}
}

.menu.menu-open, .menu:target {
	width: auto;
	height: auto;
	visibility: visible;
	opacity: 1;
	box-shadow: 0 0 20rem 100vh rgba(0, 0, 0, 0.5);
	animation: 0.3s ease-out 0s menu-open;
}

@keyframes menu-open {
	from {transform: translateY(-40vw);}
	to {transform: translateY(0);}
}

.menu-inner {padding: 3rem;}

.menu-close {
	display: block;
	margin: 0;
	padding: 1.5rem 3rem;
	background-color: var(--color1);
}

.lang-delimit {display: inline;}
.nav-delimit {display: none;}

@media screen and (min-width: 1300px) {
	nav a {margin: 0 2rem;}
	header {padding: 0 4rem;}
	.menu, .menu.menu-open, .menu:target, .menu-inner {
		display: inline;
		padding: 0;
		box-shadow: none;
		position: relative;
		background-color: transparent;
		opacity: 1;
		animation: none;
	}
	.menu-button, .menu-close, .menu-home {display: none;}
	.menu-inner a {box-shadow: none;}
	.nav-delimit {display: inline;}
	.about {
		font-size: 4rem;
	}
}

/*
@media screen and (min-width: 600px) {
	::-webkit-scrollbar {
		width: 1.5rem;
		height: 1.5rem;
	}
	
	::-webkit-scrollbar-track {
		background-color: var(--background-color1);
	}
	
	::-webkit-scrollbar-thumb {
		background-color: var(--font-color1);
	}
}
*/

@media screen and (max-width: 600px) {
	header {letter-spacing: normal;}
	.heading {min-height: 55vh;}
	.about-small {display: inline;}
	.about-small-not {display: none;}
}

@media screen and (max-width: 450px) {
	.about {
		font-size: 2.5rem;
		margin: 3rem 0;
	}
	.about-extrasmall {display: inline;}
	.about-extrasmall-not {display: none;}
}

main {
	background-color: var(--background-color2);
}

.content {
	font-size: 2rem;
	padding: 3rem 2rem;
	margin: 0 auto;
}

footer {
	padding: 3rem 2rem;
	border-top: 0.3rem solid var(--font-color1);
	background-color: var(--color1);
}
