$font-family1: sans-serif;
$font-family2: "Crimson Text", serif;
$font-color1: hsl(0, 0%, 100%);
$font-color2: hsl(0, 0%, 40%);
$background-color1: hsl(0, 3%, 7%);
$background-color2: hsl(0, 3%, 15%);
$color1: hsl(348, 80%, 55%);
$color2: hsla(348, 80%, 55%, 0.7);

@import '_default';

:root {
	--color1: #{$color1};
	--color2: #{$color2};
	--font-family2: "Crimson Text", serif;
	--font-color1: #{$font-color1};
	--background-color1: #{$background-color1};
	font-size: 62.5%;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: $font-family1;
	color: $font-color1;
	background-color: $background-color1;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

* {box-sizing: border-box;}
.--hidden {display: none !important;}

.page {
	display: block;


	&::before {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		content: "";
		background: no-repeat var(--url);
		background-position: center;
		background-size: cover;
		filter: brightness(25%) /*grayscale(100%)*/;
	}
}

::selection {
	background-color: $color1;
	color: $font-color1;
}

.heading {
	min-height: 30rem;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10rem 2rem 0 2rem;
	top: 0;
	text-align: center;
	position: relative;

	&__title {
		display: inline;
		font-family: $font-family2;
		color: $font-color1;
		letter-spacing: 0.7rem;
		text-align: center;
		font-size: calc(3vw + 3rem);
		margin: 0;
		font-weight: normal;
		line-height: normal;
		z-index: 1;

		&--colorful {color: $color1;}
	}
}

$border-top: 0.3rem solid $color1;
.header {
	font-family: $font-family2;
	display: flex;
	align-items: center;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	padding: 0 3rem;
	justify-content: space-between;
	user-select: none;
	height: 10rem;
	position: absolute;
	top: 0;
	border-top: $border-top;
	z-index: 2;
	width: 100%;

	&__about {
		font-weight: normal;
		font-size: 3rem;
		margin: 0 0 0.5rem 0;
	}

	&__about-inner, &__about-inner:link {
		text-decoration: none;
		color: $font-color1;
		box-shadow: none;
	}

	&__about--invisible {visibility: hidden;}

	&__about--small, &__about--extrasmall {display: none;}

	&__about--colorful {color: $color1;}

	&__nav {
		color: $font-color2;
		text-align: center;
		font-size: 1.8rem;
	}

	&__nav-a {
		display: inline-block;
		color: $font-color1;
		text-decoration: none;
		margin: 1.5rem 1rem;
		letter-spacing: 0.3rem;
		font-size: 2rem;
		cursor: pointer;

		&--last {
			margin-right: 0 !important;
		}
	}

	&__nav-button {
		display: inline;
		background-color: transparent;
		padding: 0;
		border: none;
		color: inherit;
		font: inherit;
		cursor: pointer;
	}


	@keyframes menu--invisible {
		0%, 100% {
			width: auto;
			height: auto;
			overflow: visible;
		}
		0% {transform: translateY(0);}
		0%, 50% {opacity: 1;}
		100% {
			opacity: 0;
			transform: translateY(-30rem);
		}
	}

	@keyframes menu--open {
		0% {
			opacity: 0;
			transform: translateY(-30rem);
		}
		50%, 100% {opacity: 1;}
		100% {transform: translateY(0);}
	}

	&__menu {
		display: inline-block;
		position: fixed;
		opacity: 0;
		left: 0;
		right: 0;
		top: 0;
		width: 0;
		height: 0;
		background-color: $background-color1;
		overflow: hidden;
		border-top: $border-top;

		&--invisible {
			animation: 0.4s ease-in 0s menu--invisible;
			box-shadow: 0 0 15rem 100vh rgba(0, 0, 0, 0.5);
		}

		&--open, &:target {
			width: auto;
			height: auto;
			visibility: visible;
			opacity: 1;
			box-shadow: 0 0 15rem 100vh rgba(0, 0, 0, 0.5);
			animation: 0.4s ease-out 0s menu--open;
			overflow: visible;
		}
	}

	&__menu-inner {
		padding: 1rem 2rem;
		list-style-type: none;

		a {box-shadow: inset 0 -0.5rem $color1;}
	}

	&__menu-item {
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	&__menu-button, &__menu-button:link {
		margin: 0 1.5rem;
		box-shadow: none;
	}

	&__menu-close, &__menu-close:link, &__menu-close-inner {
		display: block;
		margin: 0;
		background-color: rgba(255, 255, 255, 0.01);
		font-size: 2.5rem;
		text-align: center;
		box-shadow: none;
	}

	&__menu-close-inner {
		padding: 1.5rem 3rem;
		width: 100%;
	}

	&__lang, &__lang:link {
		font-weight: bold;
		margin: 0 1.5rem;
		color: $color1;
		box-shadow: none;

		&:last-child {margin-right: 0;}
	}

	&__lang-delimit {display: inline;}
	&__nav-delimit {display: none;}
}

@media screen and (min-width: 1280px) {
	.header {
		padding: 0 4rem;

		&__nav-a {margin: 0 1.5rem;}

		&__menu, &__menu--open, &__menu:target, &__menu-inner {
			display: inline;
			padding: 0;
			margin: 0;
			box-shadow: none;
			position: relative;
			background-color: transparent !important;
			opacity: 1;
			animation: none;
			border-top: none;
		}
		&__menu-button, &__menu-close, &__menu-home {display: none;}
		&__nav-delimit {display: inline;}
		&__about {font-size: 3rem;}
		&__menu-inner a {box-shadow: none;}
	}
}

@media screen and (hover: hover), (pointer: fine) {
	::-webkit-scrollbar {
		width: 1.5rem;
		height: 1.5rem;
	}

	::-webkit-scrollbar-track {
		background-color: $background-color2;
	}

	::-webkit-scrollbar-thumb {
		background-color: $font-color1;
	}
}

$content-padding-color: transparentize($color: $background-color1, $amount: 0.075);
.content {
	font-size: 1.7rem;
	padding: 4rem;
	position: relative;
	margin: 0 auto;
	background-color: $background-color2;
	line-height: 1.4;
	max-width: 80rem;
	box-shadow:
		0 10rem $content-padding-color,
		80rem 10rem $content-padding-color, 160rem 10rem $content-padding-color, 240rem 10rem $content-padding-color,
		-80rem 10rem $content-padding-color, -160rem 10rem $content-padding-color, -240rem 10rem $content-padding-color;

	& > :first-child {margin-top: 0;}
}

@media screen and (max-width: 600px) {
	.header {
		letter-spacing: normal;

		&__about--small {display: inline;}
		&__about--not-small {display: none;}
	}
	.content {padding: 3rem 2.5rem;}
}

@media screen and (max-width: 450px) {
	.header__about {
		font-size: 2.5rem;
		margin: 3rem 0;
		&--extrasmall {display: inline;}
		&--not-extrasmall {display: none;}
	}
}

.main {position: relative;}

.footer {
	padding: 2rem 1rem;
	background-color: $color1;
	//border-top: solid 0.3rem $font-color1;
	position: relative;
	z-index: 1;


	&__info, &__further-info {
		color: transparentize($color: $font-color1, $amount: 0.2);
		margin: 0;
		padding: 0;
		font-size: 0.8em;
		text-align: center;
	}

	&__further-info {
		margin-top: 2rem;
	}

	&__link {
		box-shadow: none;
		color: $font-color1;
		box-shadow: none;

		&:link {
			text-decoration: underline dotted $font-color1;
		}
	}
}

@media screen and (min-width: 800px) {
	.footer {
		margin-top: 10rem;
	}
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
	.content, .header__menu, .footer {
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		background-color: transparentize($color: $background-color2, $amount: 0.5);
	}

	.footer {
		background-color: $color2;
	}
}
