{{ define "main" }}
	{{ range (slice .Site.Data.contact) | append .Site.Data.contact.related }}
		{{ if not .hidden }}
			<section class="contact{{ if eq .name $.Site.Params.author }} contact--special{{ end }}">
				<h1 class="contact__name">{{ .name }}</h1>
				{{ with .relation }}<h2 class="contact__relation">{{ with i18n . }}{{ . }}{{ else }}{{ .relation }}{{ end }}</h2>{{ end }}
				{{ with .email }}<p class="contact__item"><a href="mailto:{{ . }}">{{ . }}</a></p>{{ end }}
				{{ with .number }}<p class="contact__item"><a href="tel:{{ . }}">{{ . }}</a></p>{{ end }}
				{{ with .website }}<p class="contact__item"><a href="{{ . }}">{{ . }}</a></p>{{ end }}
			</section>
		{{ end }}
	{{ end }}
{{ end }}
{{ define "html-head-inject" }}
	<style>
		.contact {
			border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
			padding: 4rem 1rem;
			margin: 0 2rem;
		}

		.contact--special {
			border-left: 1rem solid var(--color1);
			background-color: rgba(255, 255, 255, 0.05);
			border-bottom: none;
			padding: 4rem 4rem 4rem 3rem;
			margin: 0 0 4rem 0;
		}

		.contact:last-of-type {border-bottom: none;}

		.contact__name {
			color: var(--font-color1);
			font-size: 1.8em;
			margin: 0;
		}

		.contact__relation {
			font-size: 1.2em;
			margin: 0;
			color: rgba(255, 255, 255, 0.5);
		}

		.contact__item {
			margin: 0;
		}

		.contact__item:first-of-type {
			margin-top: 2rem;
		}
	</style>
{{ end }}
