{{ define "main" }}
	{{ index .Site.Data.home .Lang | markdownify }}
	{{ with .Site.Data.home.image	}}
		{{ $image := resources.Get . }}
		{{ $image = $image.Resize "x400px" }}
		<button class="profile-picture js-profile-picture">
			<img class="profile-picture__image" src="{{ $image.RelPermalink }}" title="{{ $.Site.Data.contact.name }}" alt="{{ $.Site.Data.contact.name }}">
			<span class="profile-picture__text">{{ $.Site.Data.contact.name }}</span>
		</button>
	{{ end }}

	<div class="item-list">
		<h1 class="item-list__title"><a class="item-list__link" href="{{ relref . "/events" }}">{{ i18n "upcoming-events" }}</a></h1>

		{{ $events := .Site.Data.events }}

		{{ range $events }}
			{{ if or (or (not .date) .postponed) (le (now.Format "2006-01-02") .date) }}
				{{ partial "event" (dict "page" $ "element" .) }}
			{{ end }}
		{{ end }}

		<p class="item-list__none">{{ i18n "no-events" }}</p>
	</div>

	<div class="item-list">
		<h1 class="item-list__title"><a class="item-list__link" href="{{ relref . "/press" }}">{{ i18n "recent-news" }}</a></h1>

		{{ $press := .Site.Data.press }}
		{{ with $press }}
			{{ range first 3 . }}
				{{ partial "article" (dict "page" $ "element" .) }}
			{{ end }}
		{{ end }}

		<p class="item-list__none">{{ i18n "no-news" }}</p>
	</div>
{{ end }}
{{ define "html-head-inject" }}
	<style>
		blockquote:first-of-type {
			margin-top: 3rem;
		}

		blockquote:first-of-type > blockquote {
			font-style: normal;
			color: rgba(255, 255, 255, 0.5);
			margin: 0 0 0 2rem;
		}

		blockquote:first-of-type > blockquote::before {
			content: "– ";
			display: inline;
		}

		blockquote:first-of-type > blockquote > p {
			display: inline;
		}

		.item-list {
			margin-top: 10rem;
		}

		.item-list__title {
			margin: 0 0 1.5rem 0;
			font-size: 1.3em;
			color: rgba(255, 255, 255, 0.8);
			font-weight: normal;
		}

		.item-list__link, .item-list__link:link {
			color: inherit;
			--color: rgba(255, 255, 255, 0.05);
		}

		.item-list__link:hover, .item-list__link:link:hover {
			--color: var(--color2);
		}

		.item-list__link:active, .item-list__link:link:active {
			color: var(--color1);
		}

		.item-list__none {
			font-size: 1em;
			margin-left: 1.5rem;
		}

		.event + .item-list__none, .article + .item-list__none {
			display: none;
		}

		.profile-picture {
			display: block;
			position: relative;
			background-color: transparent;
			border: none;
			margin: 10rem auto;
			padding: 0;
			cursor: pointer;
			outline: none;
		}

		.profile-picture::before, .profile-picture::after {
			content: "";
			position: absolute;
			top: calc(50% - 0.05rem);
			max-width: 80vw;
			width: 2rem;
			transition: opacity 0.15s;
			border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
		}

		.profile-picture::before {
			right: calc(100% + 2rem);
		}

		.profile-picture::after {
			left: calc(100% + 2rem);
		}

		.profile-picture__image {
			height: auto;
			width: 15rem;
			margin: 0;
			border-radius: 2rem;
			transition: filter 0.15s, transform 0.15s, border-radius 0.15s;
			color: var(--font-color1);
		}

		.profile-picture__text {
			position: absolute;
			display: inline-block;
			overflow: hidden;
			height: 0;
			width: 0;
			color: var(--font-color1);
		}

		.profile-picture--zoom::before, .profile-picture--zoom::after {
			opacity: 0;
		}

		.profile-picture--zoom > .profile-picture__image {
			transform: scale(1.7);
			border-radius: 0;
		}

		@media (pointer: fine) and (hover: hover) {
			.profile-picture:hover:not(.profile-picture--zoom) > .profile-picture__image {
				filter: brightness(130%);
			}
		}
	</style>

	{{ partial "event-style" . }}
	{{ partial "article-style" . }}
{{ end }}
{{ define "html-body-inject" }}
	<script>
		{
			const profilePicture = document.querySelector('.js-profile-picture');
			if (profilePicture) profilePicture.addEventListener('click', event => {
				const targetClasses = event.currentTarget.classList,
				classZoom = 'profile-picture--zoom';
				if (targetClasses.contains(classZoom)) targetClasses.remove(classZoom);
				else targetClasses.add(classZoom);
			}, false);
		}
	</script>
{{ end }}
