{{ define "main" }}
	{{ with .Site.Data.home.image	}}<img class="profile" title="{{ .Site.Data.contact.name }}" alt="{{ .Site.Data.contact.name }}">{{ end }}
	{{ index .Site.Data.home .Lang | markdownify }}

	<div class="item-list">
		<h1 class="item-list__title"><a class="item-list__link" href="{{ relref . "/events" }}">{{ i18n "upcoming-events" }}</a></h1>

		{{ $events := .Site.Data.events }}

		{{ range $events }}
			{{ if or (not .date) (lt (now.Format "2006-01-02") .date) }}
				{{ partial "event" (dict "page" $ "element" .) }}
			{{ end }}
		{{ end }}

		<p class="item-list__none">{{ i18n "no-events" }}</p>
	</div>

	<div class="item-list">
		<h1 class="item-list__title"><a class="item-list__link" href="{{ relref . "/press" }}">{{ i18n "recent-news" }}</a></h1>

		{{ $press := .Site.Data.press }}
		{{ with $press }}
			{{ range first 3 . }}
				{{ partial "article" (dict "page" $ "element" .) }}
			{{ end }}
		{{ end }}

		<p class="item-list__none">{{ i18n "no-news" }}</p>
	</div>
{{ end }}
{{ define "html-head-inject" }}
	<style>
		blockquote:first-of-type {
			margin-top: 3rem;
		}

		blockquote:first-of-type > blockquote {
			font-style: normal;
			color: rgba(255, 255, 255, 0.5);
			margin: 0 0 0 2rem;
		}

		blockquote:first-of-type > blockquote::before {
			content: "– ";
			display: inline;
		}

		blockquote:first-of-type > blockquote > p {
			display: inline;
		}

		.item-list {
			margin-top: 10rem;
		}

		.item-list__title {
			margin: 0 0 1.5rem 0;
			font-size: 1.3em;
			color: rgba(255, 255, 255, 0.8);
			font-weight: normal;
		}

		.item-list__link, .item-list__link:link {
			color: inherit;
			--color: rgba(255, 255, 255, 0.05);
		}

		.item-list__link:hover, .item-list__link:link:hover {
			--color: var(--color2);
		}

		.item-list__link:active, .item-list__link:link:active {
			color: var(--color1);
		}

		.item-list__none {
			font-size: 1em;
			margin-left: 1.5rem;
		}

		.event + .item-list__none, .article + .item-list__none {
			display: none;
		}
	</style>

	{{ partial "event-style" . }}
	{{ partial "article-style" . }}
{{ end }}

