{{ define "main" }}
	{{ $music := slice }}
	{{ range .Site.Data.music }}
		{{ $music = (slice .) | append $music }}
	{{ end }}

	{{ range $music }}
		{{ $lang := index . $.Lang }}
		{{ $title := cond (isset $lang "title") (index $lang "title") .title }}
		<section class="music js-music" id="{{ $title | anchorize }}">
			{{ if ne $title .title }}<h2 class="music__original-title">{{ .title }}</h2>{{ end }}
			<h1 class="music__title">{{ $title }}</h1>
			<h3 class="music__additional">{{ .year }}, {{ i18n "opus" }} {{ .opus }}</h3>
			<p class="music__instruments">{{ $lang.instruments }}</p>
			<p class="music__description js-description">{{ $lang.description | markdownify }}</p>
			<p class="music__view">
				{{- with .mp3 }}<a class="music__view-item js-mp3" target="_blank" href="/music/mp3/{{ . }}">{{ i18n "listen" }}</a>{{ end -}}
				{{- with .pdf }}<a class="music__view-item" target="_blank" href="/music/pdf/{{ . }}">{{ i18n "view" }}</a>{{ end -}}
				<button class="music__readmore js-readmore">{{ i18n "readmore" }}</button>
			</p>
		</section>
	{{ end }}
{{ end }}

{{ define "html-head-inject" }}
	<style>
		.audio {
			display: none;
		}

		.music {
			background-color: rgba(255, 255, 255, 0.05);
			padding: 2rem;
			margin-top: 1.5rem;
			border-left: 1rem solid rgba(255, 255, 255, 0.05);
		}

		.music:first-child {margin-top: 0;}

		.music:target {
			border-left-color: var(--color1);
		}

		.music__title {
			font-size: 1.6em;
			margin: 0;
		}

		.music__original-title{
			font-size: 0.9em;
			color: rgba(255, 255, 255, 0.5);
			margin: 0 0 0.3rem 0;
			font-weight: normal;
		}

		.music__additional {
			font-size: 1.1em;
			color: var(--font-color1);
			margin: 0 0 3rem 0;
			font-weight: normal;
		}

		.music__additional--colorful {
			color: var(--color1);
		}

		.music__additional--light {
			color: var(--font-color1);
		}

		.music__instruments {
			color: rgba(255, 255, 255, 0.5);
			font-size: 1em;
			margin: 0.5rem 0;
		}

		.music__description {
			font-size: 1em;
			margin: 0;
			overflow: hidden;
			white-space: pre-wrap;
			text-overflow: clip;
		}

		.music__description--hidden {
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-right: 3rem;
		}

		.music__view {
			margin: 1.5rem 0 0 0;
			font-family: var(--font-family2);
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.music__view-item, .music__view-item:link {
			user-select: none;
			background-color: var(--color2);
			color: var(--font-color1);
			padding: 1rem;
			margin-right: 0.7rem;
			font-size: 1em;
			box-shadow: none;
		}

		.music__view-item--selected, .music__view-item--selected:link {
			color: var(--background-color1);
			background-color: var(--font-color1);
		}

		.music__readmore {
			user-select: none;
			cursor: pointer;
			font-size: 1em;
			display: none;
			background-color: rgba(255, 255, 255, 0.05);
			border: none;
			padding: 1rem;
			color: var(--font-color1);
			font-family: var(--font-family2);
		}

		.music__readmore--visible {
			display: inline-block;
		}
	</style>
{{ end }}

{{ define "html-body-inject" }}
	<script>
		document.querySelectorAll('.js-music').forEach(element => {
			const description = element.querySelector('.js-description'),
			readMore = element.querySelector('.js-readmore'),
			classDescriptionHidden = 'music__description--hidden',
			classReadMoreVisible = 'music__readmore--visible';

			description.classList.add(classDescriptionHidden);
			readMore.classList.add(classReadMoreVisible);
			readMore.addEventListener('click', event => {
				description.classList.remove(classDescriptionHidden);
				event.currentTarget.classList.remove(classReadMoreVisible);
			}, false);
		});

		{
			let currentAudio = null;

			document.querySelectorAll('.js-mp3').forEach(element => element.addEventListener('click' , event => {
				const classSelected = 'music__view-item--selected',
				selectedItem = document.querySelector(`.${classSelected}`);

				event.preventDefault();
				if (currentAudio) currentAudio.pause();
				if (selectedItem) selectedItem.classList.remove(classSelected);
				if (selectedItem !== event.currentTarget) {
					event.currentTarget.classList.add(classSelected);
					currentAudio = new Audio(event.currentTarget.href);
					currentAudio.play();
				}
			}, false));
		}
	</script>
{{ end }}
